body{
    background-color: #161B22;
}

.container_llaverosc{
    width: 295px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    border: solid #fafafa;
}

@media (min-width: 1440px) {
    .container_llaverosc{
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        margin: 0 auto;
        margin-top: 40px;
        width: 1300px;
        height: 2800px;
    }
  }

.titulo_llaverosc{
    color: #fafafa;
    letter-spacing: 5px;
}

@media (min-width: 1440px) {
    .titulo_llaverosc{
        margin-left: 90px;
        font-size: 30px;
    }
  }

.img_productos_llaverosc{
    margin-top: -60px;
    padding: 15px;
}