.header-content {
    margin-top: 0px;
  }

.header__menu{
    display: none;
}

@media (min-width: 1500px) {
  .header__menu{
    display: flex;
    flex-direction: row;
    color: #dbdbdb;
    margin-top: -55px;
    margin-left: -10%;
    gap: 4%;
  }
}

@media (min-width: 1500px) {
  .contenido__cerraduras{
    margin-left: 30%;
  }
}

.header {
    background-color: #161B22;
    margin-top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

.header_burger_img{
    width: 65px;
}

@media (min-width: 1500px) {
  .header_burger_img{
    display: none;
  }
}

.header_titulo{
    font-size: 100%;
    margin-left: 2%;
    opacity: 100%;
    color: #dbdbdb;
}

@media (min-width: 1500px) {
  .header_titulo{
    font-size: 130%;
    margin-top: 20px;
  }
}

.header__ventana{
  position: absolute;
  justify-content: flex-end;
  background-color: #161B22;
  top: 0;
  right:0;
  width: 300px;
  height: 750px;
  display: flex;
  display: none;
  transition: 0.3s;
}



.header__ventana__contenido{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 70px;
    margin-top: 70px;
}

.header__ventana-cierra-b {
    position: absolute;
    right: 10px;
    background-color: #161B22;
    width: 50px;
    height: 50px;
    font-weight: 700;
    font-size: 20px;
    border: hidden;
    color: #dbdbdb;
  }

  .contenido__cerraduras,
  .contenido__candados,
  .contenido__cerrojos,
  .contenido__herrajes,
  .contenido__llaveros_c,
  .contenido__llaveros_l,
  .contenido__pasadores{
  text-decoration: none;
      color: #dbdbdb;
      font-weight: 700;
    font-size: 20px;
  }
